<div class="wallee-rest-form">
    <div id="payment-form"></div>
    <div id="wallee-rest-form-loading" style="display: none"></div>
    <button id="wallee-pay" type="button" class="btn submit" style="display: none; margin-top: 20px;">{{'Pay'|t('commerce')}}</button>
</div>
<div id="wallee-pay-container">
    {% for item in paymentMethods %}
        <div class="wallee-pay" data-id="{{ item.id }}" data-collectiontype="{{ item.dataCollectionType }}">
            <div class="wallee-pay-image">
                <img src="{{ item.resolvedImageUrl }}" alt="{{ item.name }}" />
            </div>
            <div class="wallee-pay-name">{{ item.name }}</div>
        </div>
    {% endfor %}
</div>


{% js %}

    var handler, 
        elements = document.getElementsByClassName("wallee-pay"), 
        buttonPay = document.getElementById('wallee-pay'),
        loading = document.getElementById('wallee-rest-form-loading');

    function openMethod(paymentMethodConfigurationId, autoValidate = false){
        
        // Set here the id of the HTML element the payment iframe should be appended to.
        var containerId = 'payment-form';

        handler = window.IframeCheckoutHandler(paymentMethodConfigurationId);

        handler.setValidationCallback(
            function(validationResult){
                // Reset payment errors
                if (validationResult.success) {
                    handler.submit();
                } else {
                    
                }
            });

        //Set the optional initialize callback
        handler.setInitializeCallback(function(){
                //Execute initialize code
        });

        //Set the optional height change callback
        handler.setHeightChangeCallback(function(height){
                //Execute code
        });

        handler.create(containerId);

        if(autoValidate){
            handler.validate();
        }
    }
    
    for (var i = 0; i < elements.length; i++) {
        elements[i].addEventListener('click', function(event){

            if(document.getElementById('wallee-pay-container')){
                document.getElementById('wallee-pay-container').style.display = 'none';
            }
            document.getElementById('payment-form').innerHTML = '';
            if(buttonPay){
                buttonPay.style.display = 'none';
            }
            if(loading){
                loading.style.display = 'none';
            }
            if(event.currentTarget.getAttribute('data-collectiontype') == 'ONSITE'){
                if(buttonPay){
                    buttonPay.style.display = 'block';
                }
                openMethod(event.currentTarget.getAttribute('data-id'));
            }else{
                if(loading){
                    loading.style.display = 'block';
                }
                openMethod(event.currentTarget.getAttribute('data-id'), true);
            }

        }, false);
    }

    buttonPay.addEventListener('click', function(event){
        handler.validate();
    });

{% endjs %}

{% css %}
    .wallee-rest-form{
        margin-bottom: 20px;
    }
    .wallee-pay{
        display: flex;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #efefef;
    }
    .wallee-pay:hover{
        cursor: pointer;
        background-color: #efefef;
    }
    .wallee-pay .wallee-pay-image{
        width: 50px;
    }
    .wallee-pay .wallee-pay-image img{
        width: 100%;
        height: 20px;
    }
    .wallee-pay .wallee-pay-name{
        margin-left: 20px;
    }
    body.commerceordersedit #paymentmodal #gateway-{{ order.gatewayId }}-form .footer .submit-payment{
        display: none;
    }
    body.commerceordersedit #paymentmodal #gateway-{{ order.gatewayId }}-form fieldset input{
        visibility: hidden;
    }
{% endcss %}